<h5 class="card-header">
    <a class="btn btn-info" role="button" asp-controller="Home" asp-action="Search">Búsqueda</a>
    <a class="btn btn-primary" role="button" asp-controller="Employee" asp-action="Index"> Crear</a>
    <a class="btn btn-warning" role="button" asp-controller="Home" asp-action="Index">Actualizar</a>
</h5>