@model HomeViewModel

<div class="card">
    <h5 class="card-header">
        <a class="btn btn-info" role="button">Buscar</a>
        <a class="btn btn-warning" role="button">Actualizar</a>
        <a class="btn btn-primary" role="button" asp-controller="Employee" asp-action="Index">
            Crear
        </a>
    </h5>
    @if (Model.Employees.Any())
    {

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre completo</th>
                    <th scope="col">Email</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Rfc</th>
                    <th scope="col">Fecha de alta</th>
                    <th class="float-right" scope="col">Acciones</th>
                </tr>
            </thead>
            @foreach (var employee in Model.Employees)
            {
                <tbody>
                    <partial name="_EmployeeCard" model="employee" />
                </tbody>
            }
        </table>
    }
    else
    {
        <div class="card-body">
            <p>No hay información</p>
        </div>
    }
</div>
